<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <form method="get" action="/Edited/<%=result%>">
    <h1>Edit product_code:<%=result%></h1> 
    <div class="form-group">
      <label for="product_name">product_name:</label>
      <input type="text" class="form-control" id="product_name" placeholder="Enter product_name" name="product_name" required>
    </div>
    <div class="form-group">
      <label for="product_price">product_price:</label>
      <input type="number" class="form-control" id="product_price" placeholder="Enter product_price" name="product_price" required>
    </div>
    <div class="form-group">
      <label for="product_gst">product_gst:</label>
      <input type="number" class="form-control" id="product_gst" placeholder="Enter product_gst" name="product_gst" required>
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</body>
</html>